#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
  background-color: #000; /* Black background for cards */
  border: 1px solid #aaff00; /* Lime green border for cards */
  border-radius: 12px; /* Rounded edges for cards */
  margin-bottom: 20px; /* Add some space between cards */
}

