@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #aaff00; /* Lime green */
  background-color: #000; /* Black background */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(100, 255, 0, 0.1), transparent 25%, #000 10%, #000 0%, transparent 75%, rgba(100, 255, 0, 0.1));
  color: #aaff00;
}

/* Responsive width for screens smaller than 640px */
@media screen and (max-width: 640px) {
  .responsive-width {
    width: 90vw;
  }
}

/* Responsive width for screens between 641px and 1024px */
@media screen and (min-width: 641px) and (max-width: 1224px) {
  .responsive-width {
    width: 60vw;
  }
}

/* Responsive width for screens larger than 1024px */
@media screen and (min-width: 1225px) {
  .responsive-width {
    width: 40vw;
  }
}
